@import url('https://fonts.googleapis.com/css2?family=Hind&family=Poppins:wght@200;300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&family=Bebas+Neue&family=Caudex:ital,wght@0,400;0,700;1,400;1,700&family=Francois+One&family=Lexend+Giga:wght@100..900&family=Sriracha&family=Trade+Winds&family=Walter+Turncoat&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background: white;
    margin: 0;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

nav {
    width: 100vw;
    height: 100px;
    background: #976d44;
    color: #6e2823;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

nav {
    flex-wrap: wrap;
}

.menu a {
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    font-size: 18px;
    transition: all 0.3s ease;
}

.menu a:hover {
    transform: translateY(-10px);
    background: #976d44;
    color: #6e2823;
}

.book a {
    text-decoration: none;
    color: #000000;
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 8px;
    background: white;
    transition: all 0.3s ease;
    overflow-x: hidden;
}

.book a:hover {
    border: 1px solid white;
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    background: #976d44;
    color: white;
}

@media(max-width:768px) {
    nav {
        flex-direction: column;
        height: auto;

    }

    .menu,
    .book {
        flex-direction: column;
        align-items: center;
    }
}

.logo {

    font-family: "Francois One", serif;
    font-size: 40px;
    font-weight: 1000;
    font-style: bold;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.2);
    color: #976d44;
    text-align: center;
    padding: 20px 0;
    margin-top: -20px;
}

.logo h4 {
    cursor: pointer;
    color: black;
    position: relative;
    text-decoration: none;
}

.logo h4::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 4px;
    background-color: black;
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
}

.logo h4:hover::before {
    transform-origin: left;
    transform: scaleX(1);
}


.content {
    font-family: "Lexend Giga", serif;
}

.content span {
    font-family: "Lexend Giga", serif;
    font-size: 20px;
}


.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
    max-width: 100%;
    margin: 0 auto;
}


.card {
    background-color: white;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px black;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px black;
}

.card img {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.card-content {
    padding: 15px;
    text-align: center;
}

.card-content h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.card-content p {
    font-size: 16px;
    color: black;
    margin-bottom: 20px;
}

.card-content .btn {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    background: #976d44;
    padding: 10px 20px;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.card-content .btn:hover {
    background: #6e2823;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.btn {
    margin: 20px auto;
}

.view a {
    text-decoration: none;
    color: #000000;
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 8px;
    background: white;
    transition: all 0.3s ease;
}

.view a:hover {
    border: 1px solid white;
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    background: #6e2823;
    color: white;
}

footer {

    left: 0;
    right: 0;
    background: #976d44;
    height: auto;
    width: 100vw;
    padding-top: 40px;
    color: #fff;

}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-content h3 {
    font-family: "Sriracha", serif;
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}

.footer-content {
    max-width: 500px;
    margin: -20px auto;
    line-height: 28px;
    font-size: 14px;

}

.footer-content p {
    font-family: "Walter Turncoat", serif;
    font-size: 12px;
    max-width: 400px;
    margin: 0 auto;
    white-space: pre-wrap;
    line-height: 1.5;

}

.socials {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1px;

}

.socials li {
    margin: 0 10px;
}

.socials a {
    text-decoration: none;
    color: #fff;

}

.socials a i {
    font-size: 1.1rem;
}

.socials a:hover i {
    color: #6e2823;

}

.footer-bottom {
    background: #976d44;
    width: 100%;
    padding: 20px 0;
    text-align: center;
}

.footer-bottom {
    font-size: 12px;
    word-spacing: 2px;
    text-transform: capitalize;
}

.footer-bottom {
    text-transform: capitalize;
    color: #483020;
    ;
    font-weight: 200;

}