@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@300;400;700&family=Varela+Round&display=swap');

body {
  background-color: #ffffff;
  margin: 0;
  padding: 20px;
}

h1 {
  text-align: center;
  font-family: "Rowdies", serif;
  font-weight: 500;
  margin-bottom: 50px;

}

.box {
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  background-color: #f2f2f2;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.box:hover {
  box-shadow: rgba(20, 20, 20, 0.4) 0px 0px 0px 2px, rgba(0, 0, 0, 0.65) 0px 4px 6px -1px, rgba(0, 0, 0, 0.08) 0px 1px 0px inset;
}

.input-group {
  font-family: "Varela Round", serif;
  display: flex;
  margin-bottom: 20px;

}

.input-group label {
  width: 170px;
  font-weight: bold;
}


.input-group input {
  flex-grow: 1;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.input-group select {
  flex-grow: 1;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
  cursor: pointer;
}


.convert-btn {
  justify-items: center;
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background-color: #065df3;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  box-shadow: 0 0 5px #000000;
}

.convert-btn:hover {
  background-color: #2020e8;
}

h4 {
  font-family: "Varela Round", serif;
  font-size: 25px;
  text-align: center;
  margin-bottom: 0%;
}

.down-arrow {
  font-size: 30px;
  text-align: center;
}

.result {
  font-family: "Varela Round", serif;
  border: 2px solid rgb(0, 0, 0);
  padding: 15px;
  border-radius: 8px;
  font-size: 20px;
  font-weight: bold;
  color: rgb(0, 0, 0);
  min-width: 150px;
  text-align: center;
  box-shadow: 0 0 5px #000000;
}